*, *:before, *:after {
	box-sizing: border-box;
}


/*Start of LOADING ANIMATION*/

body {
  background-color: #eee;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-left: -50px;

  /* Rotate without tweening, 90 degrees CCW every second */
  animation: rotate 4s steps(4) infinite;
  -webkit-animation: rotate 4s steps(4) infinite;
}

.box {
  position: absolute;
  background-color: #6DAEDB;  /* Lighter shade: ADC8DB */  /* Darker shade: 173753 */
}

/* This one stays put */
.box1 {  
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
}

/* This one drops down */
.box2 {
  top: 0;
  left: 50%;
  width: 50%;
  height: 50%;
  
  animation-name: drop;
  animation-duration: 1s;  
  animation-timing-function: cubic-bezier;  
  animation-iteration-count: infinite;
  
  -webkit-animation-name: drop;
  -webkit-animation-duration: 1s;  
  -webkit-animation-timing-function: cubic-bezier;
  -webkit-animation-iteration-count: infinite;   
}

@keyframes drop {
  0%   { top: 0%;  left: 50%; }
  50%  { top: 50%; left: 50%; }
  100% { top: 50%; left: 50%; }
}

@-webkit-keyframes drop {
  0%   { top: 0%;  left: 50%; }
  50%  { top: 50%; left: 50%; }
  100% { top: 50%; left: 50%; }
}

@keyframes rotate {
  from { transform: rotate(0deg);    }
  to   { transform: rotate(-360deg); }
}

@-webkit-keyframes rotate {
  from { -webkit-transform: rotate(0deg);    }
  to   { -webkit-transform: rotate(-360deg); }
}

/* End of LOADING ANIMATION*/





.cf:after {
	content: "";
	display: block;
	clear: both;
}

ul {
	padding: 0;
	margin: 0;
}

.no-styles {
	list-style-type: none;
}


body {

	background-color: #173753;

	position: relative;
}

body:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: url('../../Fall_skyline_of_Columbia_SC_from_Arsenal_Hill.jpg');
	background-size: cover;
	z-index: -1;
	opacity: 0.4;
	
}

h3,
.temp,
.wind-desc,
h1,
#day-time,
#desc {
	display: inline-block;
}


section {
	margin: 10px;
	/*border-radius: 50px;*/
	/*position: relative;
	z-index: 1;*/

}

h3,
#desc {
	width: 45%;
}

h3 {
	padding: 15px 0;
	padding-left: 45px;
}

#desc {
	text-align: right;
}










